body {
    background-color: #FF8E8F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

section {
    text-align: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    font-family: "Permanent Marker", cursive;
    color: #ddd;
    width: 100px;
    height: 100px;
    background-color: #13081b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
    color:brown;
}
